*{
  margin: 0;
  padding: 0;
}

.mobile{
  display: none !important;
}
.tablet{
  display: none !important;
}

:root{
  --primary-color: #606ad6;
  --secondary-color: #F6F6F6;
  --third-color: #F6F6F6;

  /*
  ALREADY IMPORTED
  
  --primary-font: Roboto;
  --secondary-font: Oswald;
  */

  --primary-text-color: black;
  --secondary-text-color: white;
}

body{
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

.bg-img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.shader{
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.45);
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-multiple-carousel__arrow {
  z-index: 990;
}
.react-multi-carousel-item{
  display: flex;
  justify-content: center;
  cursor: grab;
}
.react-multi-carousel-item:active{
  cursor: grabbing;
}

body::-webkit-scrollbar {
  width: 0.85em;
  background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--primary-color);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375em rgb(0 0 0 / 30%);
  -webkit-box-shadow: inset 0 0 0.375em rgb(0 0 0 / 30%);
  background-color: #fff;
}

:root{
  font-size: 14px;
}

/* SMALL LAPTOP STYLES */
/* @media only screen and (min-width: 991px) and (max-width: 1400px){
  :root{
      font-size: 14px;
  } 
}*/

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
  body{
    padding-top: 8vw;
  }
  :root{
      font-size: 12px;
  }
  .tablet{
    display: initial !important;
  }
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
  body{
    padding-top: 15vw;
  }
  :root{
      font-size: 10px;
  }
  .mobile{
    display: initial !important;
  }
}
