.form{
    border: 1px solid black;
    width: 20vw
}

.header h2{
    text-align: center;
}

.contentWrapper{
    position: relative;
    min-height: 10vw;
    padding: 1vw 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}